# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environments
.venv/
env/
venv/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs and temp files
*.log
*.tmp
*.swp

# IDE/editor folders
.vscode/
.idea/
