# Core ML/DL
tensorflow==2.12.0
tensorboard==2.12.0
keras==2.12.0
keras-vggface==0.6
mtcnn==0.1.0
keras-applications==1.0.8


# Numerical Computing
numpy==1.23.5
scipy==1.10.1
pandas==2.0.3
scikit-learn==1.2.2

# Computer Vision
opencv-python==4.7.0.72
pillow==9.5.0

# Streamlit and Dependencies
streamlit==1.22.0
altair==4.2.2
pydeck==0.8.0

# Supporting Packages
protobuf==3.20.3
absl-py==1.4.0
gast==0.4.0
grpcio==1.51.1
h5py==3.8.0
termcolor==2.3.0
Werkzeug==2.2.3

# Utilities
click==8.1.3
python-dateutil==2.8.2
pyyaml==6.0
tqdm==4.65.0
joblib==1.2.0

# Authentication
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0

# Strictly pinned for compatibility
astunparse==1.6.3
flatbuffers==2.0.7
libclang==16.0.0
markdown==3.4.3
opt-einsum==3.3.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.36.0
