# requirements.txt
mtcnn==0.1.0
tensorflow==2.10.1
keras==2.10.0
keras-vggface==0.6
keras-applications==1.0.8
opencv-python-headless==4.9.0.80
scikit-learn==1.4.1.post1
Pillow==10.3.0
tqdm==4.66.2
numpy==1.26.4
streamlit==1.33.0
h5py==3.10.0
